body{
    background-color: #00ff00;
}
h1{
    font-size: 40px;
    font-weight: bold;
}

@media only print {/*Para quando for imprimir a página fazer as seguintes alterações:*/
    h1{
        font-size: 20px;
        font-weight: normal;
    }
}